{# DEPRECATED #}
{# Use "macros/nl.jinja2" instead. #}


<div class="flash">DEPRECATED</div>
<p class="nl-title">
  <a href="{{ n.get_url() }}" class="nl-title">{{ n.title }}</a>
</p>
<p class="nl-desc">{{ n.short_desc() }}</p>
<p class="nl-tags">Tags: 
  {% for tag in n.tags %}
  {% set tn = tag.name %}
  {% if hl_tag_name and tn == hl_tag_name %}
  <strong class="nl-tag-hl">#{{ tn }}</strong>
  {% else %}
  <a href="/tags/{{ tn }}/" class="nl-tag">#{{ tn }}</a>
  {% endif %}
  {% endfor %}
</p>
{% if n.calendar %}
<p class="nl-calendar">
  <span class="material-icons">calendar_today</span>
  <time datetime="{{ n.calendar.isoformat() }}">{{ n.calendar.strftime('%B %-d, %Y') }}</time>
</p>
{% endif %}
