{% extends "base.jinja2" %}

{% block title %}Administrative tools — {{ app_name }}{% endblock %}

{% block content %}
<h1>Administrative tools</h1>

{% if current_user and current_user.is_admin %}
<ul>
  <li>
    <a href="/manage/export">Export pages</a>
  </li>
  <li>
    <a href="/manage/import">Import pages</a>
  </li>
  <li>
    <a href="/manage/accounts">Manage accounts</a>
  </li>
</ul>
{% else %}
<p>Administrative tools can be accessed by administrator users only.</p>
{% endif %}
{% endblock %}