{% extends "base.jinja2" %}

{% block title %}Pages linking to “{{ p.title }}” - {{ app_name }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}
<main>
  <h1 id="firstHeading">{{ p.title }}</h1>
  <div class="preview-subtitle">{{ T('backlinks') }}</div>

  <div class="inner-content">
    {% if backlinks %}
    <ul>
      {% for op in backlinks %}
      <li><a href="{{ op.get_url() }}">
        {{ op.title }} (<strong>#{{ op.id }}</strong>)
      </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="placeholder">{{ T("backlinks-empty") }}</p>
    {% endif %}
  </div>


  <p>{{ T("back-to") }} <a href="{{ p.get_url() }}">{{ p.title }}</a>.</p>
</main>
{% endblock %}

