{% extends "base.html" %}

{% block title %}Bad Request - {{ app_name }}{% endblock %}

{% block content %}
<h1>Bad request</h1>

<p>You sent a request the server can’t understand. If you entered the URL manually please check your spelling and try again.</p>
{% endblock %}
