{% extends "base.jinja2" %}

{% block title %}Contributions of {{ u.username }} - {{ app_name }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}
<h1>Contributions of {{ u.username }}</div>

<ul>
{% for rev in contributions %}
  <li>
    <a href="/history/revision/{{ rev.id }}/">
      #{{ rev.id }}
      &middot;
      {{ rev.pub_date.strftime("%B %-d, %Y %H:%M:%S") }}
      {% if rev.comment %}
      “{{ rev.comment }}”
      {% endif %}
    </a>
    on
    <a href="{{ rev.page.get_url() }}">
      {{ rev.page.title }}
    </a>
  </li>
{% endfor %}
</ul>
{% endblock %}
