{% extends "base.html" %}

{% block title %}Access Denied - {{ app_name }}{% endblock %}

{% block content %}
<h1>Forbidden</h1>

<p>You don’t have permission to access this resource.</p>
{% endblock %}
