{% extends "base.jinja2" %}

{% block title %}Access Denied - {{ app_name }}{% endblock %}

{% block content %}
<h1>Forbidden</h1>

<div class="inner-content">
  <p>You don’t have permission to access this resource.</p>
</div>
{% endblock %}
