{% extends "base.html" %}

{% block title %}Page history - {{ app_name }}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}
<h1 id="firstHeading">{{ p.title }}</h1>
<div class="preview-subtitle">Page history</div>

<ul>
{% for rev in history %}
  <li><a href="/history/revision/{{ rev.id }}/">
    #{{ rev.id }}
    &middot;
    {{ rev.pub_date.strftime("%B %-d, %Y %H:%M:%S") }}
    by
    {{ rev.user.username }}
  </a></li>
{% endfor %}
</ul>
{% endblock %}
