{% extends "base.html" %}

{% block title %}{{ T('homepage') }} - {{ app_name }}{% endblock %}

{% block content %}
<h1>{{ T('welcome').format(app_name) }}</h1>

<div class="nl-new">
  <a href="/create/"><button class="submit-primary">{{ T('new-note') }}</button></a>
</div>

<h2>{{ T('latest-notes') }}</h2>

<br style="clear:both">
<ul class="nl-list">
  {% for n in new_notes %}
  <li>
    <a href="{{ n.get_url() }}" class="nl-title">{{ n.title }}</a>
    <p class="nl-desc">{{ n.short_desc() }}</p>
    {% if n.tags %}
    <p class="nl-tags">{{ T('tags') }}: 
    {% for tag in n.tags %}
      {% set tn = tag.name %}
      <a href="/tags/{{ tn }}/" class="nl-tag">#{{ tn }}</a>
    {% endfor %}
    </p>
    {% endif %}
  </li>
  {% endfor %}
  <li><a href="/p/most_recent/">{{ T('show-all') }}</a></li>
</ul>

{% endblock %}
