{% extends "base.jinja2" %}

{% block title %}% _ % - {{ app_name }}{% endblock %}

{% block content %}
<main class="error-page">
  <h1 id="firstHeading">Internal Server Error</h1>

  <div class="inner-content">
    <p>We’re sorry, an unexpected error occurred. Try refreshing the page.</p>
  </div>
</main>
{% endblock %}
