{% extends "base.jinja2" %}

{% block title %}Internal Server Error - {{ app_name }}{% endblock %}

{% block content %}
<h1>Internal Server Error</h1>

<p>We’re sorry, an unexpected error occurred. Try refreshing the page.</p>
{% endblock %}
