{% extends "base.jinja2" %}

{% block title %}{{ d.strftime("%B %Y") }} – {{ app_name }}{% endblock %}

{% block content %}
<article>
  <h1 id="firstHeading">{{ d.strftime("%B %Y") }}</h1>

  {% if total_count > 0 %}
  <p class="nl-pagination">Showing results <strong>{{ page_n * 20 - 19 }}</strong> to <strong>{{ min(page_n * 20, total_count) }}</strong> of <strong>{{ total_count }}</strong> total.</p>

  <ul class="nl-list">
    {% for n in notes %}
    <li>
      <a href="{{ n.get_url() }}" class="nl-title">{{ n.title }}</a>
      <p class="nl-desc">{{ n.short_desc() }}</p>
      {% if n.tags %}
      <p class="nl-tags">{{ T('tags') }}: 
      {% for tag in n.tags %}
        {% set tn = tag.name %}
        <a href="/tags/{{ tn }}/" class="nl-tag">#{{ tn }}</a>
      {% endfor %}
      </p>
      {% endif %}
      {% if n.calendar %}
      <p class="nl-calendar">
        <span class="material-icons">calendar_today</span>
        {% if n.calendar.year == d.year and n.calendar.month == d.month %}
        <strong>
          <time datetime="{{ n.calendar.isoformat() }}">{{ n.calendar.strftime('%B %-d, %Y') }}</time>
        </strong>
        {% else %}
        <a href="/calendar/{{ n.calendar.year }}/{{ n.calendar.month }}">
          <time datetime="{{ n.calendar.isoformat() }}">{{ n.calendar.strftime('%B %-d, %Y') }}</time>
        </a>
        {% endif %}
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul> 
  {% else %}
  <p class="nl-placeholder">{{ T('notes-month-empty') }}</p>
  {% endif %}

  {% set past_year = advance_calendar(d, -2) %}
  {% set past_month = advance_calendar(d, -1) %}
  {% set next_month = advance_calendar(d, 1) %}
  {% set next_year = advance_calendar(d, 2) %}
  <div class="calendar-navigation">
    <ul class="inline">
      <li>&laquo; <a href="/calendar/{{ past_year.year }}/{{ past_year.month }}">{{ past_year.strftime("%B %Y") }}</a></li>
      <li><a href="/calendar/{{ past_month.year }}/{{ past_month.month }}">{{ past_month.strftime("%B %Y") }}</a></li>
      <li><strong>{{ d.strftime("%B %Y") }}</strong></li>
      <li><a href="/calendar/{{ next_month.year }}/{{ next_month.month }}">{{ next_month.strftime("%B %Y") }}</a></li>
      <li><a href="/calendar/{{ next_year.year }}/{{ next_year.month }}">{{ next_year.strftime("%B %Y") }}</a> &raquo;</li>
    </ul>
  </div>

  <p>{{ T('back-to') }} <a href="/calendar">{{ T('calendar') }}</a></p>
</article>

{% endblock %}