{% extends "base.html" %}

{% block title %}{{ d.strftime("%B %Y") }} – {{ app_name }}{% endblock %}

{% block content %}
<h1>{{ d.strftime("%B %Y") }}</h1>

<ul>
  {% for n in notes %}
  <li>
    <a href="{{ n.get_url() }}" class="nl-title">{{ n.title }}</a>
    <p class="nl-desc">{{ n.short_desc() }}</p>
    {% if n.tags %}
    <p class="nl-tags">{{ T('tags') }}: 
    {% for tag in n.tags %}
      {% set tn = tag.name %}
      <a href="/tags/{{ tn }}/" class="nl-tag">#{{ tn }}</a>
    {% endfor %}
    </p>
    {% endif %}
    {% if n.calendar %}
    <p class="nl-calendar">
      <span class="material-icons">calendar_today</span>
      <time datetime="{{ n.calendar.isoformat() }}">{{ n.calendar.strftime('%B %-d, %Y') }}</time>
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul> 


{% endblock %}