{% extends "base.jinja2" %}

{% block title %}{{ T('sign-up') }} – {{ app_name }}{% endblock %}

{% block content %}
<h1>{{ T('sign-up') }}</h1>

<div class="inner-content">
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
        <label>{{ T('username') }}:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>{{ T('password') }}:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>{{ T('confirm-password') }}:</label>
        <input type="password" name="confirm_password" />
    </div>
    <div>
        <label>{{ T('email') }} ({{ T('optional') }}):</label>
        <input type="text" name="email" />
    </div>
    <div>
        <input type="checkbox" name="legal" value="1" />
        <label>{{ T('have-read-terms').format(('<a href="/terms/">%s</a>' | safe) % T('terms-of-service'), ('<a href="/privacy/">%s</a>' | safe) % T('privacy-policy')) }}</label>
    </div>
    <div>
        <input type="submit" value="{{ T('sign-up') }}" />
    </div>
  </form>

  <p>{{ T('already-have-account') }} <a href="/accounts/login" rel="nofollow">{{ T("login") }}</a></p>
</div>

{% endblock %}