{% extends "base.jinja2" %}

{% block title %}{% if q %}Search results for "{{ q }}"{% else %}Search{% endif %} - {{ app_name }}{% endblock %}

{% block content %}
<h1>Search</h1>

<div class="inner-content">
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="search-wrapper">
      <label for="q">Search for: </label>
      <input type="search" name="q" value="{{ q }}" class="search-input">
    </div>
    <div>
      <input type="checkbox" name="include-tags" value="1" {% if pl_include_tags %}checked{% endif %}>
      <label for="include-tags">{{ T('include-tags') }}</label>
    </div>
  </form>

  {% if results %}
  <h2>Search results for <em>{{ q }}</em></h2>

  {% from "macros/nl.jinja2" import nl_list with context %}
  {{ nl_list(l, other_url=None) }}
  {% elif q %}
  <h2>{{ T('search-no-results') }} <em>{{ q }}</em></h2>
  {% else %}
  <p>Please note that search queries do not search for page text.</p> 
  {% endif %}
</div>

{% endblock %}
