{% extends "base.html" %}

{% block title %}Statistics - {{ app_name }}{% endblock %}

{% block content %}
<h1>Statistics</h1>

<ul>
  <li>Number of pages: <strong>{{ notes_count }}</strong></li>
  <li>Number of pages with URL set: <strong>{{ notes_with_url }}</strong></li>
  <li>Number of uploads: <strong>{{ upload_count }}</strong></li>
  <li>Number of revisions: <strong>{{ revision_count }}</strong></li>
  <li>Average revisions per page: <strong>{{ (revision_count / notes_count)|round(2) }}</strong></li>
</ul>
{% endblock %}
