{% extends "base.jinja2" %}

{% block title %}Statistics - {{ app_name }}{% endblock %}

{% block content %}
<h1>Statistics</h1>

<div class="inner-content">
  <ul>
    <li>{{ T("notes-count") }}: <strong>{{ notes_count }}</strong></li>
    <li>{{ T("notes-count-with-url") }}: <strong>{{ notes_with_url }}</strong></li>
    <li>{{ T("revision-count") }}: <strong>{{ revision_count }}</strong></li>
    <li>{{ T("revision-count-per-page") }}: <strong>{{ (revision_count / notes_count)|round(2) }}</strong></li>
    <li>{{ T('users-count') }}: <strong>{{ users_count }}</strong></li>
    <li>{{ T('groups-count') }}: <strong>{{ groups_count }}</strong></li>
  </ul>
</div>
{% endblock %}
