{% extends "base.html" %}

{% block title %}Info on file "{{ upl.name }}" - {{ app_name }}{% endblock %}

{% block content %}
<h1>Info on file "{{ upl.name }}"</h1>

<div class="upload-frame">
  <img src="{{ upl.url }}" alt="{{ upl.name }}">
</div>

<p>You can include this file in other pages with <strong>{{ '{{' }}media:{{ upl.id }}{{ '}}' }}</strong>.</p>

<h2>File info</h2>

<p>Type: {{ type_list[upl.filetype] }}</p>

<p>Upload ID: {{ upl.id }}</p>

<p>Uploaded on: {{ upl.upload_date.strftime('%B %-d, %Y %H:%M:%S') }}</p>

<p>Size: {{ upl.filesize }} bytes</p>
{% endblock %}
