{% extends "base.jinja2" %}

{% block title %}{{ p.title }} - {{ app_name }}{% endblock %}

{% block json_info %}<script>window.page_info={{ p.js_info()|tojson|safe }};</script>{% endblock %}

{% block content %}
<article>
  <h1 id="firstHeading">{{ p.title }}</h1>

  {% if p.calendar %}
  <p class="calendar-subtitle"><span class="material-icons">calendar_today</span>{{ p.calendar.strftime('%B %-d, %Y') }}</div>
  {% endif %}
  
  <div class="jump-to-actions">
    <span>{{ T('last-changed') }} {{ rev.human_pub_date() }}</span> ·
    <a href="#page-actions">{{ T('jump-to-actions') }}</a>
  </div>

  {% block history_nav %}{% endblock %}

  <div class="inner-content">
    {{ rev.html(math = request.args.get('math') not in ['0', 'false', 'no', 'off'])|safe }}
  </div>

  {% if p.tags %}
  <div class="page-tags">
    <p>{{ T('tags') }}:</p>
    <ul>
      {% for tag in p.tags %}
      <li><a href="/tags/{{ tag.name }}/">#{{ tag.name }}</a> <span class="tag-count">({{ tag.popularity() }})</span></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>

{% endblock %}

{% block actions %}
<a href="/edit/{{ p.id }}/">{{ T('action-edit') }}</a> -
<a href="/history/{{ p.id }}/">{{ T('action-history') }}</a> -
<a href="/backlinks/{{ p.id }}/">Backlinks</a> -
{{ T('last-changed') }} <time datetime="{{ rev.pub_date.isoformat() }}">{{ rev.pub_date.strftime('%B %-d, %Y at %H:%M:%S') }}</time> - 
{{ T('page-id') }}: {{ p.id }} -
{{ T('owner') }}: {{ p.owner.username }}
{% endblock %}

{% block scripts %}
<script src="/static/content.js"></script>
{% endblock %}
